/* #region FONT */

body{
    font-family: 'Raleway', sans-serif;
}

/* #endregion FONT */

/* #region RESET */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* #endregion RESET */

/* #region COLORS */

:root{
    --res-secondary: rgba(0, 132, 253, 1);
    --res-card: rgba(181, 221, 255, 1);
    --res-primary: rgba(151, 146, 228, 1);
    --res-yellow: rgba(253, 193, 95, 1);
    --res-light: white;
    --res-dark: black;
    --res-footer: rgba(51, 51, 51, 1);
}

/* #endregion COLORS */

/* #region DEBUG */

.debug #site_header{
    height: 50px;
    background-color: azure;
}

.debug .logo{
    height: 30px;
    margin: 10px 0;
    width: 80px;
    background-color: rgba(0, 0, 255, 0.604);
}

.debug .menu{
    height: 30px;
    margin: 10px 0;
    width: 80px;
    background-color: rgba(0, 0, 255, 0.604);
}

.debug .section_demo{
    padding: 20px 0;
}

.debug .col-12{
    height: 200px;
    background-color: chocolate;
    border: 2px dashed black;
}


.debug .section_strategic_planning{
    padding: 20px 0;
    background-color: bisque;
}

.debug .section_testimonials{
    padding: 20px 0;
}

.debug .section_benefits{
    padding: 20px 0;
    background-color: bisque;
}

.debug .section_about_us{
    padding: 20px 0;
}

.debug .section_get_started{
    padding: 20px 0;
    background-color: bisque;
}

.debug #site_main .section_get_started .container{
    height: 200px;
    background-color: rgb(210, 30, 201);
}

.debug #site_footer{
    background-color: khaki;
    height: 80px;
    padding: 5px 0;
}

.debug #site_footer .container{
    background-color: rebeccapurple;
    height: 70px;
}
/* #endregion DEBUG */

/* #region UTILITY */

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

[class^="col-"]{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.col-12{
    width: 100%;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: end;
}

.gap-4{
    gap: 1rem;
}

.btn{
    border: none;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}

.btn-light{
    background-color: var(--res-light);
    color: black;
}

.btn-blue{
    background-color: var(--res-secondary);
    color: var(--res-light);
    padding: 0.5rem 2rem;
}

.btn-viola{
    background-color: var(--res-primary);
    color: var(--res-light);
    padding: 0.5rem 2.5rem;
}

.card{
    height: 100%;
    padding: 0 1rem;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
}

.card-blue{
    background-color: var(--res-card);
}

.card-white{
    background-color: var(--res-light);
}

.card-viola{
    background-color: var(--res-primary);
}

.text-align-center{
    text-align: center;
}

.p_rel{
    position: relative;
}

.pl-8{
    padding-left: 2rem;
}

/* #endregion UTILITY */

/* #region HEADER */

#site_header{
    padding: 1rem 0;
    background-color: var(--res-secondary);
    color: var(--res-light);
}

/* menu */

.menu_desktop{
    display: none;
    & li{
        list-style: none;
    }

    & ul a{
        text-decoration: none;
        color: var(--res-light);
    }
}


/* #endregion HEADER */

/* #region MAIN */

/* #region section_demo */

.section_demo{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.section_demo p{
    line-height: 150%;
    margin: 1.5rem 0;
    color: var(--res-footer)
}

.demo_app{

    & h4{
        color: var(--res-secondary);
        margin: 1.5rem 0;
    }

    & img{
        max-height: 250px;
        margin-bottom: -1.75rem;
    }
}

.demo_app .btn{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.clean_code,
.web_design,
.developement,
.branding{
    color: var(--res-secondary);
    & i{
        margin: 1.5rem 0;
        font-size: 50px;
    }
}


/* #endregion section_demo */

/* #region section strategic planning */

.section_strategic_planning{
    background-color: var(--res-primary);
    padding-bottom: 3rem;
    padding-top: 5rem;
    color: var(--res-light);
}

.planning{
    padding: 2rem;
}

.planning h2{
    margin-top: 7rem;
}

.planning p{
    line-height: 150%;
    margin-top: 3.5rem;
}

.app_developement{
    height: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    background-color: var(--res-light);
    color: var(--res-dark);

    & h4{
        margin: 1rem 0;
        font-weight: bolder;
    }

    & p{
        font-style: italic;
        line-height: 150%;
    }

    & a{
        display: inline-block;
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--res-primary);
        color: var(--res-dark);
        vertical-align: middle;
        line-height: 50px;
        margin-top: 2rem;
    }
}

/* #endregion section strategic planning  */

/* #region section testimonials */

.section_testimonials {
    padding: 2rem 0;

    & h5{
        text-transform: uppercase;
        color: var(--res-footer);
        margin-bottom: 1rem;
        font-size: small;
        font-weight: lighter;
    }

    & h1{
        color: var(--res-primary);
        margin-bottom: 1rem;
        font-size: 30px;
    }

    & p{
        color: var(--res-footer);
        margin-bottom: 1rem;
        font-size: 15px;
    }
}

.testimonial{
    padding: 1.25rem;
    color: var(--res-light);
    border-radius: 3rem;

    & p{
        color: var(--res-light);
        font-size: medium;
        line-height: 200%;
    }

    & h4{
        text-transform: uppercase;
    }

    & .fa-solid{
        font-size: 18px;
    }
}

.avatar{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}


/* #endregion section testimonial */

/* #region section benefits */

.section_benefits{
    background-color: var(--res-primary);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.section_benefits h1{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--res-light);
    font-size: 30px;
}

.section_benefits .card{
    padding: 1rem 2rem;
    color: var(--res-primary);

    & h2{
        font-size: 60px;
        font-weight: 500;
    }

    & h3{
        margin: 1rem 0;
    }

    & p{
        color: var(--res-dark);
        font-weight: 200;
        line-height: 150%;
        margin-bottom: 2rem;
    }
}

/* #endregion section benefits */

/* #region section about us */

.section_about_us{
    padding: 2rem 0;

    & h1{
        color: var(--res-primary);
        margin: 1rem 0;
        font-size: 45px;
    }

    & p{
        margin: 2rem 0;
        line-height: 200%;
    }

    & h2{
        color: var(--res-primary);
        margin-top: 1rem;
        margin-bottom: 2rem;
        line-height: 150%;
    }

}

.section_about_us .p_rel i{
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 70px;
    color: var(--res-primary);
}


.avatar img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* #endregion section about us */

/* #region section get started */

.section_get_started{
    padding: 2rem 0;
    background-color: var(--res-primary);
    color: var(--res-light);
    text-align: center;

    & h4{
        text-transform: uppercase;
        color: lightgrey;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    & h1{
        color: var(--res-yellow);
        font-size: 60px;
        margin-bottom: 1rem;
    }

    & p{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 150%;
    }

    & .btn{
        color: var(--res-primary);
        font-weight: 500;
        border-radius: 2rem;
        padding: 1rem 4rem;
    }

    & ul{
        margin-top: 2rem;
    }
}

.copyright {
    margin-top: 2rem;
    font-size: 13px;

    & i{
        font-size: 6px;
        margin: 0 0.25rem;
    }

    & a{
        color: var(--res-light);
    }
}

/* #endregion get started */

/* #endregion MAIN */

/* #region FOOTER */



/* #endregion FOOTER */



/**********************************
        LAYOUT RESPONSIVE
**********************************/

/* #region TABLET */

@media screen and (min-width: 768px){
    .col-md-4{
        width: calc((100% / 12) * 4);
    }

    .col-md-6{
        width: calc((100% / 12) * 6);
    }

    .col-md-8{
        width: calc((100% / 12) * 8);
    }

    .testimonial{
        display: flex;
        align-items: center;
        text-align: left;
        gap: 1rem;
    }

    .section_benefits .card h2{
        font-size: 80px;
    }

    .section_about_us .container_avatar{
        justify-content: center;
    }

    .container_avatar{
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2{
            text-align: center;
        }
    }

    .section_get_started .container,
    #site_footer .container{
        width: 60%;
    }
}
/* #endregion TABLET */

/* #region DESKTOP */

@media screen and (min-width: 1024px) {
    .col-lg-4{
        width: calc((100% / 12)* 4);
    }
    
    .col-lg-6{
        width: calc((100% / 12)* 6);
    }

    .col-lg-8{
        width: calc((100% / 12)* 8);
    }

    .menu_desktop{
        display: flex;
    }

    .menu_mobile{
        display: none;
    }

    .section_strategic_planning .container{
        width: 60%;
    }

    .section_get_started .container,
    #site_footer .container{
        width: 40%;
    }
}
/* #endregion DESKTOP */