/* #region RESET */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* #endregion RESET */

/* #region COLORS */

:root{
    --res-secondary: rgba(0, 132, 253, 1);
    --res-card: rgba(181, 221, 255, 1);
    --res-primary: rgba(151, 146, 228, 1);
    --res-yellow: rgba(253, 193, 95, 1);
    --res-light: white;
    --res-dark: black;
    --res-footer: rgba(51, 51, 51, 1);
}

/* #endregion COLORS */

/* #region DEBUG */

.debug #site_header{
    height: 50px;
    background-color: azure;
}

.debug .logo{
    height: 30px;
    margin: 10px 0;
    width: 80px;
    background-color: rgba(0, 0, 255, 0.604);
}

.debug .menu{
    height: 30px;
    margin: 10px 0;
    width: 80px;
    background-color: rgba(0, 0, 255, 0.604);
}

.debug .section_demo{
    padding: 20px 0;
}

.debug .col-12{
    height: 200px;
    background-color: chocolate;
    border: 2px dashed black;
}


.debug .section_strategic_planning{
    padding: 20px 0;
    background-color: bisque;
}

.debug .section_testimonials{
    padding: 20px 0;
}

.debug .section_benefits{
    padding: 20px 0;
    background-color: bisque;
}

.debug .section_about_us{
    padding: 20px 0;
}

.debug .section_get_started{
    padding: 20px 0;
    background-color: bisque;
}

.debug #site_main .section_get_started .container{
    height: 200px;
    background-color: rgb(210, 30, 201);
}

.debug #site_footer{
    background-color: khaki;
    height: 80px;
    padding: 5px 0;
}

.debug #site_footer .container{
    background-color: rebeccapurple;
    height: 70px;
}
/* #endregion DEBUG */

/* #region UTILITY */

.container{
    width: 90%;
    max-width: 1152px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-12{
    width: 100%;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.gap-4{
    gap: 1rem;
}

.btn{
    border: none;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}

.btn-light{
    background-color: var(--res-light);
    color: black;
}
/* #endregion UTILITY */

/* #region HEADER */

#site_header{
    padding: 1rem 0;
    background-color: var(--res-secondary);
    color: var(--res-light);
}

/* menu */

.menu_desktop{
    display: none;
    & li{
        list-style: none;
    }

    & ul a{
        text-decoration: none;
        color: var(--res-light);
    }
}


/* #endregion HEADER */

/* #region MAIN */

/* section demo */

/* section strategic planning */

/* section testimonials */

.section_testimonials h3,
.section_testimonials h1,
.section_testimonials h4{
    text-align: center;
}

/* section benefits */

.section_benefits h1{
    text-align: center;
}

/* section get started */

/* #endregion MAIN */

/* #region FOOTER */

/* #endregion FOOTER */



/**********************************
        LAYOUT RESPONSIVE
**********************************/

/* #region TABLET */

@media screen and (min-width: 768px){
    .col-md-4{
        width: calc((100% / 12) * 4);
    }

    .col-md-6{
        width: calc((100% / 12) * 6);
    }

    .col-md-8{
        width: calc((100% / 12) * 8);
    }


    .section_get_started .container,
    #site_footer .container{
        width: 60%;
    }
}
/* #endregion TABLET */

/* #region DESKTOP */

@media screen and (min-width: 1160px) {
    .col-lg-4{
        width: calc((100% / 12)* 4);
    }
    
    .col-lg-6{
        width: calc((100% / 12)* 6);
    }

    .menu_desktop{
        display: flex;
    }

    .menu_mobile{
        display: none;
    }

    .section_get_started .container,
    #site_footer .container{
        width: 40%;
    }
}
/* #endregion DESKTOP */